Software/examples/NodeRed/EmonESP-MQTT-Influxdb_via_Node-Red.txt
[{"id":"467c83b1.5d54ac","type":"tab","label":"emonesp_mqtt_import","disabled":false,"info":""},{"id":"205d1805.7c6538","type":"mqtt in","z":"467c83b1.5d54ac","name":"emonesp","topic":"emon/emonesp/#","qos":"0","datatype":"auto","broker":"892770d7.d31ca","x":220,"y":300,"wires":[["c1f9b62b.4be058","a81feb3b.e0bde8","f24d7a77.2269b8","f8402523.5459a8","23f382e8.34d64e","5cb5570e.b084d8","7a2e6e0b.56da3","b3e92b2b.3019c8","26a828ce.f20ac8"]]},{"id":"f4222924.12e0e8","type":"debug","z":"467c83b1.5d54ac","name":"emon/emonesp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":600,"y":560,"wires":[]},{"id":"c1f9b62b.4be058","type":"function","z":"467c83b1.5d54ac","name":"V1","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"V1\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["cd00fb1.5d9ed08"]]},{"id":"a81feb3b.e0bde8","type":"function","z":"467c83b1.5d54ac","name":"V2","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"V2\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["dda74def.e158"]]},{"id":"f8402523.5459a8","type":"function","z":"467c83b1.5d54ac","name":"CT1","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"CT1\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["88a11870.fdc3f8"]]},{"id":"23f382e8.34d64e","type":"function","z":"467c83b1.5d54ac","name":"CT2","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"CT2\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["1aaa7c9.9c39783"]]},{"id":"5cb5570e.b084d8","type":"function","z":"467c83b1.5d54ac","name":"W","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"W\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["9460603b.42d5a","f4222924.12e0e8"]]},{"id":"7a2e6e0b.56da3","type":"function","z":"467c83b1.5d54ac","name":"PF","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"PF\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["c674e4a7.b65e38"]]},{"id":"b3e92b2b.3019c8","type":"function","z":"467c83b1.5d54ac","name":"freq","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"freq\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["4e4b2a39.70c404"]]},{"id":"f24d7a77.2269b8","type":"function","z":"467c83b1.5d54ac","name":"totV","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"totV\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["6d453f78.f6e61"]]},{"id":"26a828ce.f20ac8","type":"function","z":"467c83b1.5d54ac","name":"temp","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"temp\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["152e653b.0eb0eb"]]},{"id":"cd00fb1.5d9ed08","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"V1 to Influxdb","measurement":"V1","precision":"","retentionPolicy":"","x":600,"y":160,"wires":[]},{"id":"dda74def.e158","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"V2 to Influxdb","measurement":"V2","precision":"","retentionPolicy":"","x":600,"y":200,"wires":[]},{"id":"6d453f78.f6e61","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"totV to Influxdb","measurement":"totV","precision":"","retentionPolicy":"","x":600,"y":240,"wires":[]},{"id":"88a11870.fdc3f8","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"CT1 to Influxdb","measurement":"CT1","precision":"","retentionPolicy":"","x":600,"y":280,"wires":[]},{"id":"1aaa7c9.9c39783","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"CT2 to Influxdb","measurement":"CT2","precision":"","retentionPolicy":"","x":600,"y":320,"wires":[]},{"id":"9460603b.42d5a","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"W to Influxdb","measurement":"W","precision":"","retentionPolicy":"","x":590,"y":360,"wires":[]},{"id":"c674e4a7.b65e38","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"PF to Influxdb","measurement":"PF","precision":"","retentionPolicy":"","x":600,"y":400,"wires":[]},{"id":"4e4b2a39.70c404","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"freq to Influxdb","measurement":"freq","precision":"","retentionPolicy":"","x":600,"y":440,"wires":[]},{"id":"152e653b.0eb0eb","type":"influxdb out","z":"467c83b1.5d54ac","influxdb":"7faca68a.77acb8","name":"temp to Influxdb","measurement":"temp","precision":"","retentionPolicy":"","x":600,"y":480,"wires":[]},{"id":"892770d7.d31ca","type":"mqtt-broker","z":"","name":"MQTT-local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7faca68a.77acb8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"emoncms","name":"emoncms","usetls":false,"tls":""}]
