Software/examples/NodeRed/EmonESP-MQTT-Influxdb_via_Node-Red.txt
[{"id":"ded8280.db7a2d8","type":"tab","label":"emoncms_mqtt_import","disabled":false,"info":""},{"id":"2148fe2.f765c02","type":"mqtt in","z":"ded8280.db7a2d8","name":"emonesp","topic":"emon/emonesp/#","qos":"0","datatype":"auto","broker":"892770d7.d31ca","x":220,"y":300,"wires":[["b8bcfcc5.289d3","5fb6ecf0.6db4a4","da744c6f.b4a7a","bda4e67d.c90958","386fd614.19d40a","3104d0e.c82363","b8cb87be.610668","bfaabac3.24cc38","32804e63.3d4ca2"]]},{"id":"7a61a0f5.bca94","type":"debug","z":"ded8280.db7a2d8","name":"emon/emonesp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":600,"y":560,"wires":[]},{"id":"b8bcfcc5.289d3","type":"function","z":"ded8280.db7a2d8","name":"V1","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"V1\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["a68abb6.852b348"]]},{"id":"5fb6ecf0.6db4a4","type":"function","z":"ded8280.db7a2d8","name":"V2","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"V2\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["1cdb8176.e7893f"]]},{"id":"bda4e67d.c90958","type":"function","z":"ded8280.db7a2d8","name":"CT1","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"CT1\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["8c62095d.68bd68"]]},{"id":"386fd614.19d40a","type":"function","z":"ded8280.db7a2d8","name":"CT2","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"CT2\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["bd9a4013.71f06"]]},{"id":"3104d0e.c82363","type":"function","z":"ded8280.db7a2d8","name":"W","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"W\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["64d711b5.55b0c","7a61a0f5.bca94"]]},{"id":"b8cb87be.610668","type":"function","z":"ded8280.db7a2d8","name":"PF","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"PF\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["66136974.b90f48"]]},{"id":"bfaabac3.24cc38","type":"function","z":"ded8280.db7a2d8","name":"freq","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"freq\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["db7ab176.13049"]]},{"id":"da744c6f.b4a7a","type":"function","z":"ded8280.db7a2d8","name":"totV","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"totV\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["f6f7dc7c.de5c3"]]},{"id":"32804e63.3d4ca2","type":"function","z":"ded8280.db7a2d8","name":"temp","func":"var interval = (1000*10); // minimum interval between messages (ms)\nvar now = Date.now();\nvar tokens = msg.topic.split(\"/\");\nvar topic = tokens[2];\n\nif (topic == \"temp\") {\n    msg.measurement = topic;\n    msg.payload = [{\n        value: parseFloat(msg.payload),\n    }];\n    context.lastTime = context.lastTime || 0;\n\n    if (now-context.lastTime > interval) {\n        context.lastTime = now;\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["af5f449b.0a23b8"]]},{"id":"a68abb6.852b348","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"V1 to Influxdb","measurement":"V1","precision":"","retentionPolicy":"","x":600,"y":160,"wires":[]},{"id":"1cdb8176.e7893f","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"V2 to Influxdb","measurement":"V2","precision":"","retentionPolicy":"","x":600,"y":200,"wires":[]},{"id":"f6f7dc7c.de5c3","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"totV to Influxdb","measurement":"totV","precision":"","retentionPolicy":"","x":600,"y":240,"wires":[]},{"id":"8c62095d.68bd68","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"CT1 to Influxdb","measurement":"CT1","precision":"","retentionPolicy":"","x":600,"y":280,"wires":[]},{"id":"bd9a4013.71f06","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"CT2 to Influxdb","measurement":"CT2","precision":"","retentionPolicy":"","x":600,"y":320,"wires":[]},{"id":"64d711b5.55b0c","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"W to Influxdb","measurement":"W","precision":"","retentionPolicy":"","x":590,"y":360,"wires":[]},{"id":"66136974.b90f48","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"PF to Influxdb","measurement":"PF","precision":"","retentionPolicy":"","x":600,"y":400,"wires":[]},{"id":"db7ab176.13049","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"freq to Influxdb","measurement":"freq","precision":"","retentionPolicy":"","x":600,"y":440,"wires":[]},{"id":"af5f449b.0a23b8","type":"influxdb out","z":"ded8280.db7a2d8","influxdb":"7faca68a.77acb8","name":"temp to Influxdb","measurement":"temp","precision":"","retentionPolicy":"","x":600,"y":480,"wires":[]},{"id":"892770d7.d31ca","type":"mqtt-broker","z":"","name":"MQTT-local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7faca68a.77acb8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"emoncms","name":"emoncms","usetls":false,"tls":""}]
